* { box-sizing: border-box; }

html, body { height: 100%; }

body {
    margin: 0;
    background-color: #f6e9dd;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 20px;
}

.card {
    display: flex;
    width: 600px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.card .left {
    flex: 0 0 50%;
}

.card .left img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* border-radius: 20px; */
}

.card .right {
    flex: 0 0 50%;
    min-width: 0;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    /* align-items: center; */
}

.card .right .title {
    font-family: 'Montserrat';
    color: #6c7289ff;
    font-weight: 500;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    display: inline-flexbox;
}

.card .right .product-name {
    /* font-family: 'Montserrat'; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 25px;
}

.card .right .description p {
    font-size: 14px;
}

.card .right .price {
    display: inline;
    color: #3c8067ff;
    font-size: 20px;
    padding: none;
    margin: 0;
    font-family: 'Fraunces';
    display: inline;
}

/* .card .right .price::after {
    content: '$169.99';
    text-decoration: line-through;
    color: #6c7289ff;
    font-family: 'Montserrat';
    font-size: 15px;
} */

.card .right .button button {
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #3c8067ff;
    /* background-color: #1b4133ff; */
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    border-radius: 8px;
    justify-content: center;
}

.card .right .button img {
    padding: 2px 2px 2px 2px;
}

div button {
    align-items: center;
}