.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    padding: 1em;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
    border-radius: 50px;
    width: 25%;
}

.search-input {
    border: none;
    outline: none;          
    width: 100%;
    font-size: 1rem;
}

.search-input:focus {
    border: 2px solid white; 
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    /* justify-content: center; */
}