/* @import url('https://fonts.googleapis.com'); */

/* * {
    font-family: 'Poppins', sans-serif;
} */

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 1em;
}

.logo {
    width: 7.5em;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-top: 0.5em;
}

.nav-items > ul > li {
    /* margin: 20px; */
    padding: 20px;
    padding-left: 100px;
    margin-right: 10px;
    right: 10px;
    transition: 0.5s ease;
    justify-content: space-between;
    font-size: 1.1em;
}

.nav-items > ul > li:hover {
    transform: scale(1.25);
}

.header > .nav-items > ul > li > img {
    scale: 1.75;
}