:root {
    --light: #dad7cd;
    --lighter: #d8e2dc;
    --darkest: #111827;
    --grey: #8693aa;
    --green: #137547;
    --blue: #023e8a;
    --lightest: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: var(--lightest);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

#new-task-input {
    background-color: var(--lighter);
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-right: 1rem;
    color: var(--darkest);
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.15);
}

#new-task-input::placeholder {
    color: var(--darkest);
}

#new-task-submit {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1 rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lighter);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.15);
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--darkest);
    font-size: 1.125rem;
    display: block;
    transition: color 0.4s ease;
}

.task .content .text-:not(:read-only) {
    color: var(--blue);
    font-weight: 600;
}

.task .edit-delete {
    display: flex;
    margin: 0 -0.5rem;
    font-size: 1.5rem;
    transition: 0.4s;
}

.task .edit-delete i:hover {
    opacity: 0.8;
}

.task .edit-delete .fa-pencil {
    color: var(--green);
    margin-right: 1rem;
}

.task .edit-delete .fa-trash {
    color: crimson;
}

.task .edit-delete .fa-floppy-disk {
    color: var(--green);
    margin-right: 1rem;
}