name: Deploy NetflixGPT

on:
  push:
    branches:
      - main
    paths:
      - 'FE-03/WEEK-2-5/NetFlixGPT/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: FE-03/WEEK-2-5/NetFlixGPT

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Install Firebase CLI
        run: bun add -g firebase-tools

      - name: Deploy to Firebase
        run: firebase deploy --only hosting --token ${{ secrets.FIREBASE_TOKEN }}
