.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.6em 1em;
    margin-top: 1em;
    width: min(90%, 400px);
    max-width: 400px;
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    /* background: white; */
    border: 1px solid grey;
}

.search-bar > button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    width:200px;
    color: #b8b4b4;
    font-weight: bold;
}

.search-bar > button::before {
    content: "|";
    margin-right: 8px;
    color: #ccc;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
}

.search-input:focus {
    outline: none;
}